 .u-section-1 {
  background-image: url("images/MenSweetMoments9.png");
  background-position: 50% 0%;
}

.u-section-1 .u-image-1 {
  width: 170px;
  height: 133px;
  margin: 527px auto 0 calc(((100% - 1140px) / 2) + 62px);
}

.u-section-1 .u-image-2 {
  width: 768px;
  height: 768px;
  margin: -1396px calc(((100% - 1140px) / 2) + -82px) 0 auto;
}

.u-section-1 .u-image-3 {
  width: 113px;
  height: 204px;
  margin: 427px auto 0 0;
}

.u-section-1 .u-text-1 {
  width: auto;
  margin: 134px calc(((100% - 340px) / 2) + 208px) 60px calc(((100% - 340px) / 2) + -22px);
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: auto;
  font-weight: 700;
  font-family: "Bubblegum Sans";
  margin: 20px calc(((100% - 340px) / 2) + 170px) 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 36px);
    margin-left: calc(((100% - 940px) / 2) + 62px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 146px);
    margin-left: calc(((100% - 720px) / 2) + 62px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 110px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 236px);
    margin-left: calc(((100% - 540px) / 2) + 62px);
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 540px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 91.58% 0%;
    min-height: 774px;
  }

  .u-section-1 .u-image-1 {
    width: 288px;
    height: 328px;
    margin-top: 410px;
    margin-right: calc(((100% - 340px) / 2) + -80px);
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -782px;
    margin-right: calc(((100% - 340px) / 2) + -64px);
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -145px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Bubblegum Sans";
    margin: 92px calc(((100% - 340px) / 2) + 170px) 0 0;
  }

  .u-section-1 .u-text-2 {
    margin: -350px 0 60px calc(((100% - 340px) / 2) + 66px);
  }
} .u-section-2 {
  background-image: url("images/MenSweetMoments9.png");
  background-position: 91.58% 0%;
}

.u-section-2 .u-text-1 {
  width: auto;
  margin: 66px auto 60px 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 539px;
  margin: 14px calc(((100% - 340px) / 2) + -180px) 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: "Bubblegum Sans";
  width: auto;
  margin: 90px auto 0 calc(((100% - 340px) / 2) + 71px);
}

.u-section-2 .u-text-3 {
  width: auto;
  font-size: 1.25rem;
  margin: -191px calc(((100% - 340px) / 2) + 302px) 159px calc(((100% - 340px) / 2) + -24px);
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  width: auto;
  margin: 193px calc(((100% - 340px) / 2) + 18px) 60px calc(((100% - 340px) / 2) + 240px);
}

.u-section-2 .u-text-5 {
  font-family: "Bubblegum Sans";
  width: auto;
  margin: 38px calc(((100% - 340px) / 2) + -32px) 60px calc(((100% - 340px) / 2) + 170px);
}

.u-section-2 .u-image-2 {
  width: 272px;
  height: 313px;
  margin: -203px auto 0 calc(((100% - 340px) / 2) + -90px);
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 44.92% 0%;
    min-height: 923px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    font-family: "Bubblegum Sans";
    font-weight: 700;
    margin: 128px calc(((100% - 340px) / 2) + 170px) 0 calc(((100% - 340px) / 2) + -5px);
  }

  .u-section-2 .u-image-1 {
    width: 231px;
    height: 298px;
    margin-top: -170px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: -16px;
    margin-right: calc(((100% - 340px) / 2) + 181px);
    margin-left: calc(((100% - 340px) / 2) + -13px);
  }

  .u-section-2 .u-text-3 {
    font-weight: 700;
    margin: -240px calc(((100% - 340px) / 2) + 241px) 0 calc(((100% - 340px) / 2) + 16px);
  }

  .u-section-2 .u-text-4 {
    margin: 258px calc(((100% - 340px) / 2) + 28px) 0 calc(((100% - 340px) / 2) + 230px);
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 32px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    width: 245px;
    height: 294px;
    object-position: 50% 95.07%;
    margin-top: -267px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}